<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.tailwindcss.com"></script>

<body class = "min-h-screen bg-gradient-to-b from-neutral-700 via-neutral-800 to-neutral-900">
    <header class="w-full flex items-center bg-zinc-800 text-gray-300 p-4">
  
        <!-- 1. Conteneur Logo (utilisez w-auto pour laisser le logo prendre sa place) -->
        <div class="flex-shrink-0">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="image de logo" class="h-16 w-auto object-contain">
        </div>

        <!-- 2. Liens de navigation centrés -->
        <div class="flex-1 flex justify-center space-x-6">
            <a class="liens" href="acceuil.html">Accueil</a>
            <a class="liens" href="commanditaire.html">Commanditaire</a>
            <a class="liens" href="equipe.html">Équipe</a>
            <a class="liens" href="galerie.html">Galerie</a>
            <a class="liens" href="voiture.html">Voiture</a>
            <a class="liens" href="contact.html">Contact</a>
        </div>

    </header>
    
    
    
    <main>
       
        <div class="texte">
            
            <img class="image" src="" alt="logo">
        
            
            <div >
                
                {% block content%} {%endblock%}
            </div>
            
        </div>
    
</body>
</html>
<style>
    .liens{
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .liens:hover{
        color : #236837;
    }

</style>